@model IEnumerable<FoodShtuphs.Models.RestaurantReview>

@{
    ViewBag.Title = "Index";
    var first = Model.First();
}

<h2>The Latest Reviews</h2>



@foreach(var item in Model)
{
    @:Review this void main
    <div class="review">
        <h4>@item.Restaurant.Name</h4>
        <span>Rating: @item.Rating</span>
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>